<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">System Usability Scale (SUS) Survey</h1>
        <p class="lead">System Usability Scale (SUS) is a questionnaire to measure user experience.</p>
    </div>
</div>
<div class="container">


    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

        <div class="form-group">
            <label for="respondant">Standard Id</label>
            <input id="respondant" name="respondant" class="form-control" [(ngModel)]="susSurvey.respondent" required
                pattern="[a-z0-9A-Z]{7}" #respondantField="ngModel">
            <div [hidden]="respondantField.valid || respondantField.untouched" class="text-danger">
                Enter a standard id
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="application">Application</label>
                <input id="application" name="application" class="form-control" [(ngModel)]="susSurvey.application"
                    required #applicationField="ngModel" />
                <div [hidden]="applicationField.valid || applicationField.untouched" class="text-danger">
                    Enter an application
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="app-version">Application Version</label>
                <input id="app-version" name="app-version" class="form-control" [(ngModel)]="susSurvey.version" />
            </div>
        </div>

        <!-- TODO make dynamicly generated radioChoice questions form array  -->
        <!-- q1 -->
        <div class="form-group">
            <h5>1. I think that I would like to use this system frequently.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="questionOneRadios" id="questionOneRadios1" value=1
                    [(ngModel)]="susSurvey.q1" required />
                <label class="form-check-label" for="questionOneRadios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="questionOneRadios" id="questionOneRadios2" value=2
                    [(ngModel)]="susSurvey.q1" required>
                <label class="form-check-label" for="questionOneRadios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="questionOneRadios" id="questionOneRadios3" value=3
                    [(ngModel)]="susSurvey.q1" required>
                <label class="form-check-label" for="questionOneRadios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="questionOneRadios" id="questionOneRadios4" value="4"
                    [(ngModel)]="susSurvey.q1" required>
                <label class="form-check-label" for="questionOneRadios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="questionOneRadios" id="questionOneRadios5" value=5
                    [(ngModel)]="susSurvey.q1" required>
                <label class="form-check-label" for="questionOneRadios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q2 -->
        <div class="form-group">
            <h5>2. I found the feature unnecessarily complex.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2radios" id="q2radios1" value=1
                    [(ngModel)]="susSurvey.q2" required />
                <label class="form-check-label" for="q2radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2radios" id="q2radios2" value=2
                    [(ngModel)]="susSurvey.q2" required>
                <label class="form-check-label" for="q2radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2radios" id="q2radios3" value=3
                    [(ngModel)]="susSurvey.q2" required>
                <label class="form-check-label" for="q2radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2radios" id="q2radios4" value="4"
                    [(ngModel)]="susSurvey.q2" required>
                <label class="form-check-label" for="q2radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q2radios" id="q2radios5" value=5
                    [(ngModel)]="susSurvey.q2" required>
                <label class="form-check-label" for="q2radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q3 -->
        <div class="form-group">
            <h5>3. I thought the feature was easy to use.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3radios" id="q3radios1" value=1
                    [(ngModel)]="susSurvey.q3" required />
                <label class="form-check-label" for="q3radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3radios" id="q3radios2" value=2
                    [(ngModel)]="susSurvey.q3" required>
                <label class="form-check-label" for="q3radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3radios" id="q3radios3" value=3
                    [(ngModel)]="susSurvey.q3" required>
                <label class="form-check-label" for="q3radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3radios" id="q3radios4" value="4"
                    [(ngModel)]="susSurvey.q3" required>
                <label class="form-check-label" for="q3radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q3radios" id="q3radios5" value=5
                    [(ngModel)]="susSurvey.q3" required>
                <label class="form-check-label" for="q3radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q4 -->
        <div class="form-group">
            <h5>4. I think that I would need the support of a technical person to be able to use this feature.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q4radios" id="q4radios1" value=1
                    [(ngModel)]="susSurvey.q4" required />
                <label class="form-check-label" for="q4radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q4radios" id="q4radios2" value=2
                    [(ngModel)]="susSurvey.q4" required>
                <label class="form-check-label" for="q4radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q4radios" id="q4radios3" value=3
                    [(ngModel)]="susSurvey.q4" required>
                <label class="form-check-label" for="q4radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q4radios" id="q4radios4" value="4"
                    [(ngModel)]="susSurvey.q4" required>
                <label class="form-check-label" for="q4radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q4radios" id="q4radios5" value=5
                    [(ngModel)]="susSurvey.q4" required>
                <label class="form-check-label" for="q4radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q5 -->
        <div class="form-group">
            <h5>5. I found the various functions in this feature were well integrated.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q5radios" id="q5radios1" value=1
                    [(ngModel)]="susSurvey.q5" required />
                <label class="form-check-label" for="q5radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q5radios" id="q5radios2" value=2
                    [(ngModel)]="susSurvey.q5" required>
                <label class="form-check-label" for="q5radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q5radios" id="q5radios3" value=3
                    [(ngModel)]="susSurvey.q5" required>
                <label class="form-check-label" for="q5radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q5radios" id="q5radios4" value="4"
                    [(ngModel)]="susSurvey.q5" required>
                <label class="form-check-label" for="q5radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q5radios" id="q5radios5" value=5
                    [(ngModel)]="susSurvey.q5" required>
                <label class="form-check-label" for="q5radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q6 -->
        <div class="form-group">
            <h5>5. I thought there was too much inconsistency in this feature.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q6radios" id="q6radios1" value=1
                    [(ngModel)]="susSurvey.q6" required />
                <label class="form-check-label" for="q6radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q6radios" id="q6radios2" value=2
                    [(ngModel)]="susSurvey.q6" required>
                <label class="form-check-label" for="q6radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q6radios" id="q6radios3" value=3
                    [(ngModel)]="susSurvey.q6" required>
                <label class="form-check-label" for="q6radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q6radios" id="q6radios4" value="4"
                    [(ngModel)]="susSurvey.q6" required>
                <label class="form-check-label" for="q6radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q6radios" id="q6radios5" value=5
                    [(ngModel)]="susSurvey.q6" required>
                <label class="form-check-label" for="q6radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q7 -->
        <div class="form-group">
            <h5>7. I would imagine that most people would learn to use this feature very quickly.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q7radios" id="q7radios1" value=1
                    [(ngModel)]="susSurvey.q7" required />
                <label class="form-check-label" for="q7radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q7radios" id="q7radios2" value=2
                    [(ngModel)]="susSurvey.q7" required>
                <label class="form-check-label" for="q7radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q7radios" id="q7radios3" value=3
                    [(ngModel)]="susSurvey.q7" required>
                <label class="form-check-label" for="q7radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q7radios" id="q7radios4" value="4"
                    [(ngModel)]="susSurvey.q7" required>
                <label class="form-check-label" for="q7radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q7radios" id="q7radios5" value=5
                    [(ngModel)]="susSurvey.q7" required>
                <label class="form-check-label" for="q7radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q8 -->
        <div class="form-group">
            <h5>8. I found the feature very cumbersome to use.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q8radios" id="q8radios1" value=1
                    [(ngModel)]="susSurvey.q8" required />
                <label class="form-check-label" for="q8radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q8radios" id="q8radios2" value=2
                    [(ngModel)]="susSurvey.q8" required>
                <label class="form-check-label" for="q8radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q8radios" id="q8radios3" value=3
                    [(ngModel)]="susSurvey.q8" required>
                <label class="form-check-label" for="q8radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q8radios" id="q8radios4" value="4"
                    [(ngModel)]="susSurvey.q8" required>
                <label class="form-check-label" for="q8radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q8radios" id="q8radios5" value=5
                    [(ngModel)]="susSurvey.q8" required>
                <label class="form-check-label" for="q8radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>

        <!-- q9 -->
        <div class="form-group">
            <h5>9. I felt very confident using the feature.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q9radios" id="q9radios1" value=1
                    [(ngModel)]="susSurvey.q9" required />
                <label class="form-check-label" for="q9radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q9radios" id="q9radios2" value=2
                    [(ngModel)]="susSurvey.q9" required>
                <label class="form-check-label" for="q9radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q9radios" id="q9radios3" value=3
                    [(ngModel)]="susSurvey.q9" required>
                <label class="form-check-label" for="q9radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q9radios" id="q9radios4" value="4"
                    [(ngModel)]="susSurvey.q9" required>
                <label class="form-check-label" for="q9radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q9radios" id="q9radios5" value=5
                    [(ngModel)]="susSurvey.q9" required>
                <label class="form-check-label" for="q9radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>


        <!-- q10 -->
        <div class="form-group">
            <h5>10. I needed to learn a lot of things before I could get going with this feature.</h5>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q10radios" id="q10radios1" value=1
                    [(ngModel)]="susSurvey.q10" required />
                <label class="form-check-label" for="q10radios1">
                    1 - Strongly Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q10radios" id="q10radios2" value=2
                    [(ngModel)]="susSurvey.q10" required>
                <label class="form-check-label" for="q10radios2">
                    2 - Disagree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q10radios" id="q10radios3" value=3
                    [(ngModel)]="susSurvey.q10" required>
                <label class="form-check-label" for="q10radios3">
                    3 - Neutral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q10radios" id="q10radios4" value="4"
                    [(ngModel)]="susSurvey.q10" required>
                <label class="form-check-label" for="q10radios4">
                    4 - Agree
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="q10radios" id="q10radios5" value=5
                    [(ngModel)]="susSurvey.q10" required>
                <label class="form-check-label" for="q10radios5">
                    5 - Strongly Agree
                </label>
            </div>
        </div>






        <div [hidden]="!postSuccess" class="alert alert-dark">
            {{ postSuccessMessage }}
        </div>

        <div [hidden]="!postError" class="alert alert-danger">
            {{ postErrorMessage }}
        </div>

        <!-- todo on success make a message of success, then clear out the form? -->
        
        <button class="btn btn-dark">Submit</button>
    


    </form>

</div>
